{{full-question question=model updateQuestion="updateQuestion"}}
<div class="answers">
  <h3>Answers:</h3>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
  {{new-answer saveAnswer="saveAnswer" question=model}}
</div>
